body {
  margin: 0%;
  padding: 0%;
 background-color: #212529;
}

.alert-container {
  position: fixed;
  top: 1rem;
  right: 40rem;
  z-index: 1000;
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease-in-out;
}

.alert-container.hide {
  opacity: 0;
  pointer-events: none;
}

/* about page */

.about-container{
  box-shadow: 5px 5px 5px white inset, 5px 5px 5px white;
  border-radius: 16px;
  padding: 30px;
}

@media only screen and (max-width: 600px) {
  .about-container {
    width: 90%;
  }
}

/* In your App.css or a relevant CSS file */
.search-buttons {
  display: flex;
  gap: 10px; /* Adjust the gap as needed */
  align-items: center;
  margin-bottom: 10px;
}


/* loginStyles.css */

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.form-control {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.btn-primary {
  background-color: #198754;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #157347;
}
